<div class="screen-container">

  <div class="left-container">

    <div class="contact-us-container">
      <h2 class="title">Contact us</h2>
      <p class="description">We are all cat persons, so if you got any question, drop it below and we will contact you back!</p>
     </div> 
     
     <div class="form-container">
      <form (ngSubmit)="onSubmit()" class="my-form">
        <div class="form-group" id="fullNameDiv"> 
          <label  class="label" id="fullNameLabel" for="fullName" placeholder="Type your name">Your Full Name</label>
          <input  class="text" type="text" id="fullNameInput" [(ngModel)]="fullName" name="fullName" class="form-control"  placeholder="Type your name" required>
        </div>
        <div class="form-group" id="emailDiv">
          <label class="label" id="emailLabel" for="email">Your Email</label>
          <input class="text" id="emailInput" type="email" id="email" [(ngModel)]="email" name="email" class="form-control"  placeholder="Type your email" required>
        </div>
        <hr class="divider">
 
        <div id="city-pc">
          <div id="form-group-city">
            <label id="cityLabel" for="city">City</label>
            <input id="city" class="smallInput" type="text"  [(ngModel)]="city" name="city"  placeholder="ex. Thessaloniki">
          </div>
          <div id="form-group-pc">
            <label id="pcLabel" for="postCode">Postal Code</label>
            <input  id="postCode" class="smallInput" type="text" id="postCode" [(ngModel)]="postCode" name="postCode"  placeholder="ex. 54658">
          </div>
        </div>

        <div class="form-group">
          <label id="addressLabel" for="address">Address</label>
          <input type="text" id="address" [(ngModel)]="address" name="address" class="form-control" placeholder="ex. Thessaloniki">
        </div>
        <div class="form-group">
          <label  id="messageLabel" for="message">Your Message</label>
          <textarea id="message" [(ngModel)]="message" name="message" rows="5" cols="70"labr placeholder="Type your message" required></textarea>
        </div>
       <div class="form-check">
          <input type="checkbox" id="agreeTerms" [(ngModel)]="agreeTerms" name="agreeTerms" class="form-check-input"  required>
          <label for="agreeTerms" id="checkLabel">I agree with the Terms &amp; Conditions</label>
        </div>
        <button type="submit" class="submit">Send!</button> 
      </form> 
    </div>
  </div>

  <div class="right-container">

    <div class="image-container">
      <img src="assets/Map_Layer.png" alt="Map Layer" class="map-layer">
    </div>

    <div class="address-container">
        <h2>Headquarters</h2>
        <p>Aristotelous 16, 54658</p>
        <p>Thessaloniki, Greece</p>
        <p>+30 231 129 0998</p>
        <p>hey@smellycat.gr</p>

    </div>
  

</div>