<footer>
  <div class="content">
    <div class="footer-section">
      <div class="logo">
        <img id="footer-logo" src="assets/logo_footer.png" alt="SmellyCat Logo" />
      </div>
      <div class="links">
        <a id="privacy" href="#">Privacy Policy</a>
        <a id="terms" href="#">Terms & Conditions</a>
        <a id="blog" href="#">Blog</a>
        <a id="support" href="#">Support</a>
      </div>
      <div class="icons">
        <a href="https://www.discord.com">
          <img  class="footer-icons" src="assets/discord_icon.png" alt="Discord Icon"/>
        </a>
        <a href="https://www.twitter.com">
          <img  class="footer-icons" src="assets/twitter_icon.png" alt="Twitter Icon" />
        </a>
        <a href="https://www.instagram.com">
          <img class="footer-icons" src="assets/instagram_icon.png" alt="Instagram Icon"/>
        </a>
      </div>
    </div>
    <div id="copyright">
      Copyright © SmellyCat 2020
    </div>
  </div>
</footer>
