footer {
  background-color: #000;
  color: #fff;
  height: 174px;
  width: 1440px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 1200px;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}


.links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 50px;
}

.links a {
  text-decoration: none;
  padding-left: 50px;
  color: white;
  height: 23px;
  font-family: Manrope-ExtraLight_Bold;
  font-size: 14px;
  letter-spacing: -0.17px;
  line-height: 22.5px;
  text-align: left
}

.icons {
  width: 160px;
  height: 48px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
   position: relative;
}

#footer-logo {
  width: 157px;
  height: 30px;
}

.footer-icons {
  height: 48px;
  width: 48px;
  position: relative;
  top: 10px;

}

#copyright {
  width: 157px;
  height: 23px;
  color: #E1E4EA;
  font-family: Manrope-Medium;
  font-weight: medium;
  font-size: 12px;
  letter-spacing: -0.15px;
  line-height: 22.5px;
  text-align: left;
  position: relative;
  top:20px;
}

@media only screen and (max-width: 600px) {
  .content {
    flex-direction: column;
    text-align: center;
  }

  .links a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
  }
  
  .links a:visited {
    color: white;
  }
  
}