
.header-style {
  width: 1440px;
  height: 48px;
}

nav {
  background-color: white;
  height: 48px;
} 

.underline {
  background-color: #A0A9BA;
  width: 1440px;
  height: 1px;

}

.logo-kitty {
  width: 123px;
  height: 30px;
  position: relative;
  left: 120px; 
}

 ul, button {
  float: right;
  margin: 0; 
  padding-right: 120px;
} 

button{
  position: relative;
  bottom: 5px;
}

ul.nav li{
  float: right; 
}

li {
  padding: 5px; 
  list-style-type: none;
} 

a {
  color: #555555;
  font-family: Manrope;
  font-weight: bold;
  font-size: 15px;
  font-weight: 200;
  text-decoration: none;
  padding: 20px;
  letter-spacing: -0.17px;
  line-height: 22.5px;
  text-align: left;
} 

ul li a {
  font-weight: bold;
}

#nav-items { 
  padding-left: 110px;  
}

@media (max-width: 820px) {
  .header-style {
    width: auto;
    height: auto;
  }
  
  .underline {
    width: 100%;
  }

  a{
    padding: 10px;
  }

  ul {
    position: static;
    padding-left: 5px;
  }

  .logo-kitty {
    position: static;
    padding-left: 5px;
  }

}

@media (max-width: 420px) {
  .header-style {
    width: 420px;
    height: auto;
  }
  
  .underline {
    width: 100%;
  }
  .logo-kitty{
    position: static;
  }

  a{
    padding: 10px;
  }

  ul {
    position: static;
    padding-left: 10px;
  }

}